*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css pour le nav */
nav{
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
    background: #f5f5f5;
    z-index: 9;

}

.navbar{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #383838;
}

.navbar-content{
    display: flex;
    align-items: center;
    
    padding: 10px 10px;
}

.search-container{
    width: 500px;
    margin: 0 20px;
    display: flex;

}
.search-box{
    width: 80%;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    outline: none;
    color: #a9a9a9;
}

.search-box::placeholder{
     color: #a9a9a9;;
}

.search-button{
    height: 40px;
    width: 20%;
    background-color: #383838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-content a{
    margin-right: 30px;
}

.navbar-content a .fas{
    width: 30px;
    font-size: 15px;
    color:#383838;
}

.links-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.link-item{
    margin: 10px 20px;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    font-size: 20px;
}

.link:hover{
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .search-container{
        width: 70%;
        margin: 0 10px;
    }

    .link{
        font-size: 10px;
    }

    .navbar-content a{
        margin-right: 10px;
    }

    .link-item {
        margin: 10px 10px;
    }
 
}

/* css pour la section principale */

.inf-container{
    background: url(../image/imagefond.jpg);
    width: 100%;
    padding: 60px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.inf-content{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px 10px;
    border-radius: 10px;
}

.inf-content h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #383838;
    font-size: 30px;
}

.inf-content h2{
    color: #383838;
    margin-top: 20px;
    font-size: 25px;
 
}

.inf-content a{
    margin-left: 20px;
    color: #383838;
    text-decoration: none;
}


.inf-content p{
    text-align: justify;
    font-size: 20px;
}

.social , .join-us{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:800px) {
    .inf-container{
        padding: 60px 12%;
    }

    .inf-content h1{
        font-size: 25px;
    }

    .inf-content h2{
        font-size: 20px;
    }

    .inf-content p{
        font-size: 15px;
    }
}

@media screen and (max-width:350px){
     .social, .join-us{
        flex-direction: column;
        align-items: center;
    }
}

/* css pour le footer */ 

footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-content .logo{
    height: 160px;
}

.footer-pres{
    width: 50%;
    
}

.footer-title{
    text-transform: capitalize;
    color:#fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.info{
    text-align: justify;
    color: rgba(255, 255, 255, 1);   
}

.info a{
    color: #a9a9a9;
}

.contact {
    color:#fff;
    margin: 20px 0;
}

.footer-social-container {
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
}

.social-link{
    color: rgba(255, 255, 255, 0.75);
    margin-left: 20px;
    text-transform: capitalize;
    
}

.social-link:nth-child(1){
    margin-left: 0px;
}

.social-link:hover{
    color: rgba(255, 255, 255, 1);
}

.footer-credit{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    color:#fff;
    background:rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:800px) {
    footer{
        padding: 40px 5vw;
    }

    .footer-content .logo{
        height: 100px;
    }

    .footer-content{
        align-items: center;
        margin-bottom: 40px;
    }

    .info{
        font-size: 10px;
    }

    .footer-title{
        font-size: 15px;
    }

    .contact{
        font-size: 15px;
        margin: 15px 0;
    }

    .social-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-link{
        margin: 0 0;
    }
}