*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css pour le nav */
nav{
    width: 100%;
    position: sticky;
    top:0;
    left: 0;
    background: #f5f5f5;
    z-index: 9;

}

.navbar{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #383838;
}

a .navbar-logo{
    width: 75px;
    height: 79px;
}

.navbar-content{
    display: flex;
    align-items: center;
    
    padding: 10px 10px;
}

.search-container{
    width: 500px;
    margin: 0 20px;
    display: flex;

}
.search-box{
    width: 80%;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    outline: none;
    color: #a9a9a9;
}

.search-box::placeholder{
     color: #a9a9a9;;
}

.search-button{
    height: 40px;
    width: 20%;
    background-color: #383838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-content a{
    margin-right: 30px;
}

.navbar-content a .fas{
    width: 30px;
    font-size: 15px;
    color:#383838;
}

.links-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.link-item{
    margin: 10px 20px;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    font-size: 20px;
}

.link:hover{
    opacity: 1;
}



@media screen and (max-width: 800px) {
    .search-container{
        width: 70%;
        margin: 0 10px;
    }

    .link{
        font-size: 10px;
    }

    .navbar-content a{
        margin-right: 10px;
    }

    .link-item {
        margin: 10px 10px;
    }

 
}

.product-details{
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url(../image/image20.png);
    background-size: cover;
    background-position: center;
}

.product-images{
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translateX(-50%);
    width: 70%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}
 .product-container{
     padding-top: 70px;
     padding-bottom: 70px;
 }

.details{
    width: 50%;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price{
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
} 



.size-radio-btn:hover{
    background: #383838;
    color: #fff;
}

.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart-btn{
    margin-right: 2%;
    background: #383838;
    color: #fff;
}
.cart-btn:hover {
    background: #fff;
    color: #383838;
  }

.product-category{
    margin: 0;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.product-card{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.product-card img{
    display: block;
    width:100%;
    border-radius: 5px;
}

.product-card:hover{
    transform: scale(1.3);
    z-index: 2;
}

.detail-des{
    padding: 0 10vw;
    text-transform: capitalize;
    margin-top: 50px;
}

.heading{
    font-size: 30px;
    margin-bottom: 30px;
}

.des{
    color: #383838;
    line-height: 25px;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
   width: 100%;
   height:350px;
   object-fit: cover;
}

.discount-tag{
   position: absolute;
   background: #fff;
   padding: 5px;
   border-radius: 5px;
   color:#ff7d7d;
   right:10px;
   top:10px;
   text-transform: capitalize;
}

.product-info{
   width: 100%;
   height: 100px;
   padding-top: 10px;
}

.product-brand {
   text-transform: uppercase;
}

.product-short-des{
   width: 100%;
   height: 20px;
   line-height: 20px;
   overflow: hidden;
   opacity: 0.5;
   text-transform: capitalize;
   margin: 5px 0;
}

.price {
   font-weight: 900;
   font-size: 20px;
}

.actual-price{
   margin-left: 20px;
   opacity:0.5;
   text-decoration: line-through;
}

.pre-btn, .nxt-btn{
    border:none;
    width: 10vw;
    height:100%;
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255,255,0) 0%, #fff 100%);
    cursor:pointer;
    z-index: 8; 

}

.pre-btn{
    left:0;

}

.nxt-btn{
    right: 0;
}

.pre-btn .fas, .nxt-btn .fas{
    opacity: 0.2;
}

.pre-btn:hover .fas, .nxt-btn:hover .fas{
    opacity: 1;
}

/* css pour le footer */ 

footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-content .logo{
    height: 160px;
}

.footer-pres{
    width: 50%;
    
}

.footer-title{
    text-transform: capitalize;
    color:#fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.info{
    text-align: justify;
    color: rgba(255, 255, 255, 1);   
}

.info a{
    color: #a9a9a9;
}

.contact {
    color:#fff;
    margin: 20px 0;
}

.footer-social-container {
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
}

.social-link{
    color: rgba(255, 255, 255, 0.75);
    margin-left: 20px;
    text-transform: capitalize;
    
}

.social-link:nth-child(1){
    margin-left: 0px;
}

.social-link:hover{
    color: rgba(255, 255, 255, 1);
}

.footer-credit{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    color:#fff;
    background:rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px){
    .details{
        margin-left: 10px;
    }

    .size-radio-btn{
        font-size: 15px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .image-slider{
        width: 350px;
        height: 350px;
    }

    .product-images {
        height: 60px;
        width: 60%;
        top: 76%;
    }

    .product-images img {
        height: 46px;
    }

    .details{
        position: relative;
    }

    .btn{
        position: absolute;
        left: 57px;
        bottom: -6px;
        width: 44%;
        height: 30px;
        font-size: 15px;
        padding: 0px;
    }

    .details .product-brand{
        
        font-size: 25px;
        
    }

    .details .product-short-des{
        position: relative;
        font-size: 20px;
        left: 75px;
    }

    .product-price{
        position: relative;
        font-size: 25px;
        left: 36px;
        
    }

    .product-actual-price{
        position: relative;
        font-size: 25px;
        left: 36px;
    }

    .product-discount{
        position: relative;
        font-size: 15px;
        left: 24px;
        top: -2px;
       
    }

    .product-sub-heading{
        font-size: 25px;
    }

    .heading{
        font-size: 25px;
        margin-bottom: 5px;
    }

    .des{
        font-size: 85%;
    }

    .detail-des{
        margin-top: 2px;
    }

    .product-category{
        font-size: 22px;
    }

    .product-card{
        position: relative;
        height: 300px;
        width: 200px;
    }

    .discount-tag {
        height: 19px;
        width: 100px;
        font-size: 12px;
    }

    .product-thumb{
        
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 250px;
        width: 50px;
        
    }

    .product-image{
        height: 250px;
    }

    .product-info{
        padding-top: 2px;
    }

    .product-info .product-brand{
        font-size: 12px;
    }

    .product-info .product-short-des{
        font-size: 11px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-info .price{
        position: relative;
        font-size: 10px;
        margin-bottom: 2px;
        margin-left: 6px;
        bottom: 7px;
    }

    .product-info .actual-price{
        position: relative;
        font-size: 10px;
        margin-left: 5px;
        margin-bottom: 2px;
        bottom: 7px;
    }
}


@media only screen and (max-width: 768px) {
    
    .product-details{
        display: block;
    }

    .details{
        display: block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
       
    }

    .size-radio-btn{
        font-size: 9px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        
    }

    .image-slider{
        width: 200px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-images {
        height: 60px;
        width: 60%;
        top: 76%;
    }

    .product-images img {
        height: 46px;
    }

   

    .btn{
        position: absolute;
        left: 40px;
        bottom: -30px;
        width: 44%;
        height: 30px;
        font-size: 10px;
        padding: 0px;
        margin: 0 auto;
        display: block;
        
    }

    .details .product-brand{
        font-size: 20px;
        width: 200px;
        position: relative;
        margin-top: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        
    }

    .details .product-short-des{
        position: relative;
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 190px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }



    .product-price{
        position: relative;
        font-size: 20px;
        width: 40px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .product-actual-price{
        position: relative;
        font-size: 20px;
        width: 40px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .product-discount{
        position: absolute;
        font-size: 10px;
        left: 1px;
        bottom: 30px;
        top: 62px;
        
        
    }

    .product-sub-heading{
        position: relative;
        font-size: 15px;
        margin-top: 20px;
        width: 217px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .heading{
        font-size: 15px;
        margin-bottom: 5px;
    }

    .des{
        font-size: 75%;
    }

    .detail-des{
        margin-top: 2px;
    }

    .product-category{
        font-size: 16px;
        margin-bottom: 4px;

    }

    .product-card{
        position: relative;
        height: 250px;
        width: 150px;
        margin-right: 10px;
    }

    .discount-tag {
        height: 16px;
        width: 50px;
        font-size: 6px;
    }

    .product-thumb{
        
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 200px;
        width: 25px;
        
    }

    .product-image{
        height: 200px;
    }

    .product-info{
        padding-top: 2px;
    }

    .product-info .product-brand{
        font-size: 10px;
    }

    .product-info .product-short-des{
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .product-info .price{
        position: relative;
        font-size: 8px;
        margin-bottom: 2px;
        margin-left: 6px;
        bottom: 7px;
    }

    .product-info .actual-price{
        position: relative;
        font-size: 8px;
        margin-left: 5px;
        margin-bottom: 2px;
        bottom: 7px;
    }

    .select-taille{
        width:170px;
    }
    

}

@media screen and (min-width:415px){
    .product-discount{
        bottom: 90px;
    }
}

@media screen and (max-width:414px){
    .product-discount{
        bottom: 92px;
    }
}

@media screen and (max-width:800px) {
    footer{
        padding: 40px 5vw;
    }

    .footer-content .logo{
        height: 100px;
    }

    .footer-content{
        align-items: center;
        margin-bottom: 40px;
    }

    .info{
        font-size: 10px;
    }

    .footer-title{
        font-size: 15px;
    }

    .contact{
        font-size: 15px;
        margin: 15px 0;
    }

    .social-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-link{
        margin: 0 0;
    }
}

